---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Master's seminars, graduate courses and national training schools on artificial intelligence for the social sciences and humanities, alongside earlier teaching in computer science. Slides for the recent sessions are available on request &mdash; write to <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>.</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
